<div class="ui large top fixed no-hidden inverted menu">
  <div class="ui container">
    <div class="labeled icon right menu">
      <%= link_to destroy_user_session_path, class: "#{is_current_page?(destroy_user_session_path)} item", method: :delete do %>
      		<i class="sign-out icon">Sair</i>
      <% end %>
    </div>
  </div>
</div>