<div class="ui center aligned segment ">
	<h1><i class="user icon"></i>Editar informações do cliente </h1>

	<%= render 'form', client: @client %>

	<%= link_to 'Informações', @client, class: 'ui basic button' %>
	<%= link_to 'Voltar', clients_path, class: 'ui basic button' %>
</div>