<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">Faça sua empresa crescer com esse novo sistema</h3>
        <p>Intregração com sistemas Mikrotik, Fiberhome e demais concentradores.</p>
        <h3 class="ui header">Livre-se do PPPoe</h3>
        <p>Com o este sistema você irá conseguir gerência seus clientes utilizando (DHCP/ Vlan), deixando seu trâfico muito mais leve e rápido!.</p>
      </div>
      <div class="six wide right floated column">
        <%= image_tag 'josafa.png', class: "ui large bordered rounded image" %>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <%= link_to 'Cadastrar', new_user_registration_path, class: 'ui huge button' %>
      </div> 
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"Como migrar?"</h3>
        <p>Nossos desenvolvedores irão facilitar a migração do seu sistema! de forma totalmente transparente.</p>
      </div>
      <div class="column">
        <h3>"Como é o suporte?"</h3>
        <p>
          <%= image_tag 'mycroftfavicon.ico', class: "ui avatar image" %> <b>Atendimento</b> Estamos sempre online para lhe ajudar em qualquer problema.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Recursos do sistema</h3>
    <p>Aprenda através dos nossos wikis como gerir suas atividades dentro do sistema. Geração de boletos, cârnes e demais recursos financeiros são facilitados pela interface agrádavel e totalmente responsiva. </p>
    <a class="ui large button">Leia Mais</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Casos de uso</a>
    </h4>
    <h3 class="ui header">Renet-CE</h3>
    <p>Provedor Pioneiro na utilização do sistema Mycroft Provider,  atendendo a região metropolitana de Fortaleza com link de internet que chegam até 100 MB/s.</p>
    <a href='http://www.renet-ce.com.br/' class="ui large button">Veja aqui</a>
  </div>
</div> 


