<h1><i class="tags icon"></i>Categoria</h1>

<p>
  <strong>Nome:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @category.description %>
</p>


<%= link_to 'Editar', edit_category_path(@category), class: 'ui basic button' %> 
<%= link_to 'Voltar', categories_path, class: 'ui basic button' %>
