<div class="ui menu">
	<div class="ui dropdown item">
    Contas <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to  bank_accounts_path, class: 'ui item button' do %>
      <i class="list icon" ></i>Todas
      <% end %>
      <%= link_to  new_bank_account_path, class: 'ui item button' do %>
      <i class="address card icon" ></i>Cadastrar
      <% end %>
       <%= link_to  categories_path, class: 'ui item button' do %>
      <i class="tags icon" ></i>Categorias
      <% end %>
    </div>
  </div>
</div>
<div class="ui item right form">
  <div class="fields">
    <div class="field">
      <label>Data de ínicio</label>
      <div class="ui calendar" id="rangestart">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Inicio">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Data final</label>
      <div class="ui calendar" id="rangeend">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Fim">
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  text=   {
  days: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
  months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
  monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
  today: 'Hoje',
  now: 'Agora',
  am: 'AM',
  pm: 'PM'
}

  $('#rangestart').calendar({
    type: 'date',
    initialDate: null,
    endCalendar: $('#rangeend'),
    text: text,
    firstDayOfWeek: 1
  });
  $('#rangeend').calendar({
    type: 'date',
    startCalendar: $('#rangestart'),
    text: text,
    firstDayOfWeek: 1
  });
</script>

<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column" >
      <div id="chart" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="eight wide column" >
      <div id="cpu" ></div>
    </div>
    <div class="eight wide column">
      <div id="memory" ></div>
    </div>
    <div class="sixteen wide column" >
      <div id="quarto" class="chart"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
	var data = [{
		values: [19, 26, 55],
		labels: ['Residential', 'Non-Residential', 'Utility'],
		type: 'pie'
	}];

	Plotly.newPlot('chart', data, {font: {size: 20}},  {responsive: true});
	Plotly.newPlot('cpu', data);
	Plotly.newPlot('memory', data);
	Plotly.newPlot('quarto', data);

	$(".ui.dropdown").dropdown();

</script>

<div>
	<%= link_to "caixa ",  cashieros_path, class: 'ui basic button' %>
</div>